/* :root {
  --text: 0, 0, 0;
  --nav-text: 0, 255, 0;
  --background: 108, 117, 125;
  --nav-background: 0, 255, 255;

  --bs-primary-rgb: var(--background);
  --bs-tertiary-bg-rgb: var(--nav-background);
  --bs-emphasis-color-rgb: var(--nav-text);
  --bs-nav-link-color: var(--nav-text);
}
 */
